{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Jobo API V1",
        "description": "Online Payments"
    },
    "host": "api.jobo.site",
    "basePath": "/v1",
    "schemes": [
        "http",
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/gateways": {
            "get": {
                "description": "Gets a list of `active gateways` for the current account.\n",
                "parameters": [
                    {
                        "name": "X-User-Email",
                        "in": "header",
                        "description": "Email address",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "X-User-Token",
                        "in": "header",
                        "description": "Authentication token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Gateways"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "title": "gateways",
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "title": "error",
                            "type": "string"
                        }
                    }
                }
            }
        }
    }
}
